{% extends 'base.html.twig' %}

{% block title %}Art Gallery{% endblock %}

{% block body %}
{{ include('commons/_navigation.html.twig') }}

{{ include('commons/_header.html.twig') }}

<section id="banner-about">
    <p>ABOUT ART GALLERY /</p>
</section>

<main>
    <section id="gallery">
        <div id="gallery-left"></div>
        <div id="gallery-right">
            <div id="gallery-text-container" class="gallery-text-container">
                <p>" <span class="visions-unveiled">Visions Unveiled</span> : The Minimal Gallery of Abstract Delights"</p>
                <p>Join us for artistic journey today and experience the magic that unfolds when creativity meets canvas.</p>
                <a href="/art_gallery/public/about"><p class="text-used link-gallery">ABOUT</p></a>
            </div>
    </section>

<section id="banner-about">
    <p>EXPLORE ART GALLERY /</p>
</section>
<section id="gallery">
    <div id="gallery-left-bottom"></div>
        <div id="gallery-right">
            <div id="gallery-text-container">
                <p>Explore our collection of Art Prints & Limited Prints, Paintings.</p>
                <p class="text-used">Minimal & Abstract Inspired Style</p>
                <a href="/art_gallery/public/articles"><p class="text-used link-gallery">GALLERY</p></a>
            </div>
    </section>
</main>

{{ include('commons/_footer.html.twig') }}

<script src="{{ asset('assets/js/script.js') }}"></script>

{% endblock %}
