nav{
    border: 5px solid black;

    margin: 5px;

    height: 5vh;

    display: flex;
    align-items: center;

    font-family: 'NHass';

    position: sticky;
    top: 0px;

    background-color: white;
}

#nav-link-1 > a:hover{
    font-size: 20px;
}
#nav-link-2 > a:hover{
    font-size: 20px;
}
#nav-link-3 > a:hover{
    font-size: 20px;
}

@font-face {
    font-family: 'NHass';
    src: url(../fonts/NHaas.ttf);
}

#nav-logo{
    height: 100%;
    width: 50px;
    background-color: black;

    border-right: 5px solid black;

    background-image: url(../img/logo.png);
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;

}

#nav-brand{
    border-right: 5px solid black;

    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#nav-brand p{
    font-size: 30px;
    margin-left: 1rem;
}

#nav-links{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

#nav-links a{
    color: black;
}

#nav-link-1{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-link-2{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-link-3{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* START HEADER */

#banner{
    border: 5px solid black;
    
    background-color: #fbdf17;
    margin: 5px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg{
    height: 500px;
}

/* BANNER ABOUT */

#banner-about{
    border: 5px solid black;
    height: 5vh;

    margin: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#banner-about p{
    margin-left: 5px;
    letter-spacing: 5px;
}

/* START GALLERY */

#gallery{
    border: 5px solid black;
    height: 55vh;
    margin: 5px;

    display: flex;
    justify-content: space-between;
}

#gallery-left{
    border-right: 2.5px solid black;

    width: 50%;

    background-image: url(../img/avenir_loop.gif);

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-right{
    border-left: 2.5px solid black;
    
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-text-container{
    width: 60%;
}

#gallery-text-container > a > p{
    color:black;
}

#gallery-text-container > a > p:hover{
    padding: 12px;
}

#gallery-right p{

    margin-bottom: 2rem;

    text-align: left;
    font-size: 1.2em;
}

#gallery-text-container > p:nth-child(2){
    font-size: 1em;
}

#gallery-text-container > p:nth-child(3){
    font-size: 1em;
}

/* START GALLERY */

#gallery-left-bottom{
    border-right: 2.5px solid black;

    width: 50%;

    background-image: url(../img/paint.gif);

    background-size: cover;
    background-position: center;
}

/* START FOOTER */

footer{
    border: 5px solid black;
    height: 5vh;
    
    margin: 5px;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-gallery{
    border: 5px solid black;
    display: inline;

    padding: 10px;
}

#footer-links{
    border-left: 5px solid black;
    height: 100%;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-linked{
    padding: 10px;
}

#footer-mail{
    border-left: 5px solid black;
    height: 100%;


    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
}

#footer-github{
    border-left: 5px solid black;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
}

#footer-copyright{
    border-left: 5px solid black;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
}

