<footer>
    <section id="footer-links">
        <div id="footer-linked">
            <a href="#"><i class="fa-brands fa-linkedin-in fa-flip" style="color: #000000;"></i><a>
        </div>
        <div id="footer-mail">
            <a href="#"><i class="fa-regular fa-envelope-open fa-flip" style="color: #000000;"></i></a>
        </div>
        <div id="footer-github">
            <a href="#"><i class="fa-brands fa-github fa-flip" style="color: #000000;"></i></a>
        </div>
        <div id="footer-copyright">
            <p>D.L 2023</p>
        </div>
    </section>
</footer>