<nav>
    
    <div id="nav-logo">
        <img>
    </div>

    <div id="nav-brand">
        <p>ART GALLERY</p>
    </div>
    
    <section id="nav-links">
    
        <div id="nav-link-1">
            <a href="/art_gallery/public/home">HOME</a>
        </div>
    
        <div id="nav-link-2">
            <a href="/art_gallery/public/articles">GALLERY</a>
        </div>
        <div id="nav-link-3">
            <a href="/art_gallery/public/about">ABOUT</a>
        </div>
        
    </section>

</nav>